* {
	box-sizing: border-box; /* changing the width, padding, margins does not affect the size of the element */
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px; /* sets the default size for all the text on the page */
	margin: 0%; /* removes the empty white space from around the webpage */
	text-transform: capitalize; /* automatically capitalizes every word on the webpage */
}

.container {
	/*background-color: red;*/
	margin: 0px auto;
	width: 100%;
}

.row {
	background-color: orange;
	display: table;
	margin: 0px auto;
	width: 1170px;
}

.column {
	/*background-color: blue;*/
	margin: 0px auto;
}

/* nav *********************************************************************************************/

nav {
	background-color: #383E4C;
	text-align: center;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 1;
}

nav li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
}

nav a:link {
	border: 1px solid #646d7c;
	color: #fff;
	font-size: 20px;
	padding: 15px 25px;
	text-decoration: none;
}

nav a:visited {
	border: 1px solid #646d7c;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	background-color: #49505F;
}

#parallax-1 {
	background-image: url("../img/bg-1.jpg");
	min-height: 614px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* homepage ****************************************************************************************/

#header-container {
	/*background-color: red;*/
	margin: 0px auto;
	text-align: center;
	position: absolute;
	top: 275px;
	width: 100%;
}

#home h1 {
	color: #fff;
    font-size: 70px;
    font-weight: 500;
    margin: 0px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

#home h4 {
	color: #fff;
    font-size: 25px;
    margin: 0px;
    text-shadow: 1px 1px #333;
}

/* about us ****************************************************************************************/

#about-us {
	padding-top: 70px; /* pushes the about us section down from the homepage section */
}


.about-us-column-1 {
	box-sizing: border-box;
	float:left;
	padding: 0px 15px;
	width:33.33%; /* organizes the columns into 3 columns inside the row */
}

.content {
	background-color: #F2F2F2;
	padding-bottom: 40px;
}

.about-us-column-1 h2 {
	padding: 0px 20px;
}

.about-us-column-1 p {
	padding: 0px 20px 35px;
}

/* Green Button */

a:link#grn_button, a:visited#grn_button, a:active#grn_button {
	background-color:#10601B;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	margin: 20px;
	padding-top:10px;
	padding-right:35px;
	padding-bottom:10px;
	padding-left:35px;
	text-decoration:none;
}

a:hover#grn_button {
	background-color:#178A27;
}

/* Blue Button */

a:link#blu_button, a:visited#blu_button, a:active#blu_button {
	background-color:#0F5D87;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	margin:20px;
	padding-top:10px;
	padding-right:35px;
	padding-bottom:10px;
	padding-left:35px;
	text-decoration:none;
}

a:hover#blu_button {
	background-color:#1686C1;
}

/* Red Button */

a:link#red_button, a:visited#red_button, a:active#red_button {
	background-color:#5D1904;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	margin:20px;
	padding-top:10px;
	padding-right:35px;
	padding-bottom:10px;
	padding-left:35px;
	text-decoration:none;
}

a:hover#red_button {
	background-color:#852406;
}

#about-us-row-2 {
	background-color: orange;
	display: table;
	margin: 60px auto;
	width: 1170px;
}

.about-us-column-2 {
	box-sizing: border-box;
	float:left;
	padding: 0px 15px;
	width: 50%; /* organizes the columns into 3 columns inside the row */
}

#about-us-row-2-column-1-content {
	background-color: #F2F2F2;
	padding-bottom: 61px;
}

/* Read More Button */

a:link#read-more-button, a:visited#read-more-button, a:active#read-more-button {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius:10px;
	color:#666;
	font-size:18px;
	margin:20px;
	padding-top:10px;
	padding-right:30px;
	padding-bottom:10px;
	padding-left:30px;
	text-decoration:none;
}

a:hover#read-more-button {
	background-color: #E6E6E6;
}

/* services ****************************************************************************************/

#parallax-2 {
	background-image: url("../img/bg-2.jpg");
	min-height: 313px;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat; /* w/o this, the image endlessly repeats behind the page */
	background-size: cover; /* this makes the image cover the entire page behind the scenes */
}

#services-parallax-container {
	background-color: red;
	margin: 0px auto;
	text-align: center;
	position: absolute;
	top: 1815px;
	width: 100%;
}

#services h1 {
	color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #aaa;
}

#services p {
	color: #fff;
    font-size: 18px;
    margin: 0px;
    text-shadow: 1px 1px #333;
}

/* contact *****************************************************************************************/

#parallax-3 {
	background-image: url("../img/bg-3.jpg");
	min-height: 438px;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* footer ******************************************************************************************/

footer {
	padding-bottom: 120px;
	text-align: center;
}

footer h1 {
	font-size: 32px;
	font-style: italic;
	font-weight: 500;
}

#footer-text {
	color: #999;
	font-style: italic;
}

hr {
	border-top: 1px solid #eee;
}

#copy {
	color: #666;
	font-size: 12px;

}

/* scroll button ***********************************************************************************/

#scroll-to-top {
	cursor: pointer;
	display: none;
	position: fixed; /* fixes the element to the screen */
	right: 30px; /* the element is fixed to the bottom right of the screen */
	bottom: 20px; /* the element is fixed to the bottom of the screen */
}